<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit item with categories</h1>
    <form action="/items/<%= items.id %>/edit/" method="POST">
        <input type="text" name="name" placeholder="name" value="<%= items.name %>">
        <input type="number" name="price" placeholder="price" value="<%= items.price %>">
        <select name="category_id" id="category_id">
        <% items.category.each do |item_category| %>
            <option value=<%= item_category.id %>><%= item_category.name %></option>
                <% categories.each do |category| %>
                    <% if (item_category.name != category.name)%>
                        <option value=<%= category.id %>><%= category.name %></option>
                    <% end %>
                <% end %>
        <% end%>
        </select>
        <input type="submit" name="submit">
    </form>
</body>
</html>