<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Items</h1>

    <table>
        <tr>
            <th>Name</th>
            <th>Price</th>
        </tr>
        <% items.each do |item| %>
        <tr>
            <td><%= item.name %></td>
            <td><%= item.price %></td>
            <td><a href="/items/<%= item.id %>/show">Show</a></td>
            <td><a href="/items/<%= item.id %>/edit">Edit</a></td>
            <td><form action="/items/<%= item.id %>/delete"><input type="submit" value="delete" /></form></td>
        </tr>        
        <% end %>
    </table>
    <br>
    <a href="/items/new">Create item with category</a>
</body>
</html>